header{
    background-color: $colorSecundario;
    nav{
        width: 100%;
        ul li{
            margin: 0.8em;
            .nav-link{
                font-size: 1rem;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
            }
        }
    
    }
    
}







