.index{
    padding: 0rem;
    .contenedorDama{
        position: relative;
        display:inline-block;
        text-align: center;
        .dama{
            width: 80%;
            opacity: 90%;
        }
        .slogan{
            font-size: 3rem;
            color: white;
            text-shadow: 2px 2px 2px $colorSecundario;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
    }

    .contenedorIntro{
        padding: 2rem;
        h1{
            font-weight: bold;
        }
    }
}