@media (min-width:500px){
    .nav{
        display: flex;
        justify-content: center;
    }
}

@media (min-width:768px){
    .nav{
        display: flex;
    }
}

@media(min-width:992px){
    .nav{
        justify-content: end;
    }
}