@media (min-width:map-get($breakPoints,xs))
{
    .nav{
        display: flex;
        justify-content: center;
    }
}

@media(min-width:map-get($breakPoints,lg)){
    .nav{
        justify-content: end;
    }
}