/* comienzo generales */
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{ 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(131,58,180);
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,225,1) 65%, rgba(94,5,40,1) 100%);
}

header{
    background-color: rgb(36, 11, 44);
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content:space-between;
    
}
/* fin generales */

/* comienzo nav */
nav ul li{
    margin: 0.8em;
}

nav{
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    
}
/* fin nav */

/* comienzo Sobre nosotros */
.sobreNosotros{
    display: flex;
}

.fotoAnto{
    width: 30%;   
}

.fotoJona{
    width:31.5%
}

.biografiaAnto{
    padding: 30px;
}

.biografiaJona{
    padding: 30px;
}
/* fin Sobre nosotros */

/* comienzo áreas de práctica */
.padre{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
}

.padre div{
    display: flex;
}

.padre img{
    width: 300px;
    margin-bottom: 20px;
}

.padre p{
    margin-left: 10px;
    margin-right: 200px;
}
/* fin áreas de práctica */

/* comienzo pro bono */
.proBono{
    padding: 2em;
}
/* fin pro bono */

/* comienzo footer */
footer{
    background-color: rgb(207, 107, 182);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* fin footer */

/*comienzo responsive*/
@media (min-width:500px){

    header{
        background-color: rgb(36, 11, 44);
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content:space-between;   
    }

    .nav{
        display: flex;
        justify-content: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    .sobreNosotros{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }

    .padre{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2em;
    }
    
    .padre div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .padre img{
        width: 300px;
        margin-bottom: 20px;
    }
    
    .padre p{
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }

}
@media (min-width:768px){
    header{
        background-color: rgb(36, 11, 44);
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content:space-between;   
    }

    .nav{
        display: flex;
        justify-content: center;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    .padre{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2em;
    }
    
    .padre div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .padre img{
        width: 300px;
        margin-bottom: 20px;
    }
    
    .padre p{
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }

    .sobreNosotros{
        display:flex;
        align-items: center;


        
    }
}
@media(min-width:992px){
    header{
        background-color: rgb(36, 11, 44);
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content:space-between;
        
    }

    .nav{
        display: flex;
        justify-content: end;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content:center 
    }

    .padre{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2em;
    }
    
    .padre div{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .padre img{
        width: 300px;
        margin-bottom: 20px;
    }
    
    .padre p{
        margin-left: 10px;
        margin-right: 200px;
        text-align: left;
    }

    .sobreNosotros{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    
    }

}
/*fin responsive*/
